@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    font-family: 'DM sans';
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

/* header */
.container{
  display: flex;
  width: 100%;
  margin: auto;
}
.header .container {
  justify-content: space-between;
  display: flex;
  height: 150px ;
}

.header{
  border-bottom:solid#2A9D8F 2px;
  height: 100px;
  background-color: #2A9D8F;

}
.header .nav{
  width:1250px;
  height: 100px
}

.header .nav .list:hover{
  cursor: pointer;
  font-size: 24px ;
  font-weight: bolder;
}

.header .nav .list{
  display: flex;
  justify-content: space-between;
  width: 100px;
  
}


.header .nav .botaoLog{
  display: flex;
  justify-content: center;
  width: 100px;
  height: 35px;
  border-radius: 14px;
  background-color: #264653;
  align-items: flex-start;
}

.header .nav .botaoLog:hover{
  cursor: pointer;
  font-size: 22px ;
  font-weight: bolder;
  scale: 1.1;
}

#alturaList{
  margin-top: 2px;
}


.header .nav {
  color: white;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 20px;
}

.cor{
  color: #B7E4C7;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-top: 10px;

}

.header .container .nav img{
  width: 200px;
}


/* footer */
.footer {
  background-color: #008f82;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 70px;
}

.footer .esquerda {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  margin-left: 50px;
}

.footer .footerlogo {
  height: 50px;
}

.footer .redes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  height: 30px;
}

.footer .redes p {
  cursor: pointer;
}

.footer .menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.footer .menu .coluna {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.footer .direita {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  margin-right: 50px;
}
  
/* header */

.container{
    display: flex;
    width: 100%;
    margin: auto;
}
.header .container {
    justify-content: space-around;
    display: flex;
    height: 100px;
}

.header{
    border-bottom:solid#2A9D8F 2px;
    height: 14%;
    background-color: #2A9D8F;

}
.header .nav{
    width:100%;
    
}

li:hover{
    cursor: pointer;
    font-size: 24px ;
    font-weight: bolder;
}

.header .nav .list{
    display: flex;
    justify-content: space-between;
    width: 100px;
    
}


.header .nav .botaoLog{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 35px;
    border-radius: 14px;
    background-color: #264653;
    align-items: flex-start;
}

.header .nav .botaoLog:hover{
    cursor: pointer;
    font-size: 22px ;
    font-weight: bolder;
    scale: 1.05;
}

#alturaList{
    margin-top: 2px;
}


.header .nav {
    color: white;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 20px;
}

.banner{
    display: flex;
    width:100% ;
    justify-content: flex-start;
    height: 89.2vh;
    background:  #264653;

}



.cor{
    color: #264653;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 10px;

}

.header  .container  .imgNav{
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.header  .container  .imgNav img{
    width: 200px;
}


/* login */
.login  .container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:30rem;
    background-color: white;
    height: 27rem;
    border: none;
    border-radius: 8px;
    align-items: center;
    box-shadow: 0px 0px 10px white;
}

.login .container input{
    outline: none;
    padding: 6px;
    font-size: 16px;
    border-radius: 4px;
    border:solid #264653 1px;
    width: 400px;
    height: 30px;
}

.login .container button{
    padding: 8px;
    border-radius: 6px;
    border: solid 1px #264653;
    background-color: #264653;
    margin-top: 20px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 18px;
    width: 100%;
    height: 45px;
}

.login  .container button:hover{
    cursor: pointer;
    scale: 1.05;
    
}

.login  .container img{
    width: 200px;
    align-self: center;
}

.login  .container input:focus{
    scale: 1.05;
    transition: 0.2;
}

.login .container .credenciais{
    display: flex;
    flex-direction: column;
}



/* cadastro */
.cadastro  .container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    background-color: white;
    height: 35rem;
    border: none;
    border-radius: 8px;
    align-items: center;
    box-shadow: 0px 0px 10px white;
}

.cadastro .container input{
    outline: none;
    padding: 6px;
    font-size: 16px;
    border-radius: 4px;
    border:solid #264653 1px;
    width: 400px;
    height: 30px;
}

.cadastro .container button{
    padding: 8px;
    border-radius: 6px;
    border: solid 1px #264653;
    background-color: #264653;
    margin-top: 20px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 18px;
    width: 100%;
    height: 45px;
}

.cadastro  .container button:hover{
    cursor: pointer;
    scale: 1.05;
    
}

.cadastro  .container img{
    width: 200px;
    align-self: center;
}

.cadastro  .container input:focus{
    scale: 1.05;
    transition: 0.2;
}

.cadastro .container .credenciais{
    display: flex;
    flex-direction: column;
}